* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  color: $white;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 20%);
  }
}
