
:root {
    --main_text_color: #fffbe6;
    --blueish_menu_button_color: rgba(47, 72, 88, 0.53);
    --hover_meal_color: rgba(255, 227, 191, 0.84);
    --hover_selected_nav_link:rgba(255, 251, 230, 0.53);
    --background_color: rgba(7, 4, 4, 1);
}

body {
    background-color: var(--background_color);
}


@mixin brand_logo {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    letter-spacing: 3px;
    border-bottom: 1px solid var(--main_text_color);
}

@mixin navbar_link {
    width: 100px;
    height: 45px;
    text-decoration: none;
    font-family: 'Poiret One', sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    background-color: var(--blueish_menu_button_color);
    color: var(--main_text_color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1rem 0 1rem;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    &:hover {
        background-color: var(--hover_selected_nav_link);
    }
}

@mixin h2_title_section {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    margin: auto {
        top: 12rem;
        bottom: 10rem;
    }
}

// ---------------------------------------------------------
//             Here you can modify the nav section
// ---------------------------------------------------------      

#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #brand-image {
        h1 {
            @include brand_logo()
        }
    }

    #buttons_top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .navbar-link {
            @include navbar_link;
        }

        .navbar-link--selected {
            @include navbar-link;
            background-color: var(--hover_selected_nav_link);
        }
    }
}

// ---------------------------------------------------------
//             Here you can modify the menu section
// ---------------------------------------------------------

h1 {
    text-align: center;
    margin-top: 10rem;
}

#brunch-section {grid-area: brunch;}
#lunch_section {grid-area: lunch;}
#dinner_section {grid-area: dinner;}
#dessert_section {grid-area: dessert;}

#container {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "brunch lunch"
    "dinner dessert";

    .menu_category {
        text-align: center;
        border-bottom: 1px solid var(--main_text_color);
        border-top: 1px solid var(--main_text_color);
        padding-block: 1rem;
        margin: auto {
            left: 1rem;
            right: 1rem;
            top: 10rem;
            bottom: 1.5rem;
        }
    }

    p.name_dish {
        line-height: 2rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: start;
    }

    p.dish_description {
        letter-spacing: 2px;
        margin-bottom: 4.5rem;
    }
}